.title {
    text-align: center;
    padding-bottom: 40px;
}

.text-large {
	font-size: 32px;
}

.desc {
    font-style: italic;
    display: block;
}

.green {
	color: green;
}

.checklist span {
    font-weight: bold;
}

.checklist {
    padding-top: 50px;
}