.title {
	padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.text-large {
	font-size: 32px;
}

.desc {
    font-style: italic;
    display: block;
}

.green {
	color: green;
}

.bold {
    font-weight: bold;
}

.checklist {
    padding-top: 50px;
}

.thing {
	display: none;
}

.checklist-fixed-bottom{
    position:fixed;
    top:  400px;
}